@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/promo/promo';
@import 'blocks/hamburger/hamburger';
@import 'blocks/title/title';
@import 'blocks/menu/menu';
@import 'blocks/social/social';
@import 'blocks/portfolio/portfolio';
@import 'blocks/promo/promoMedia';
@import 'blocks/hamburger/hamburgerMedia';
@import 'blocks/title/titleMedia';
@import 'blocks/menu/menuMedia';
@import 'blocks/social/socialMedia';
@import 'blocks/portfolio/portfolioMedia';