@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .menu {
        &__block {
            width: 300px;
        }
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        &__block {
            width: 280px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 100%;
        }
    }
}