span.icon-instagram {
    font-size: 22px;   
    color: #fff;
    &:hover {
        color: #8585CC;            
    }
}

span.icon-instagram__contacts {
    font-size: 22px;   
    color: $third-color;
    &:hover {
        color: $third-color;            
    }
}