@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__subtitle {
            font-size: 20px;
        }        
        &__dscr {
            font-size: 12px;
        }
    }    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        padding-top: 170px;
        background: url('../img/main_bg.jpg') no-repeat 61%/cover;
        &__subtitle {
            text-align: center;
        }
        &__wrapper {
            margin: 40px auto;
            justify-content: space-around;
        }
    }
}