.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/main_bg.jpg) no-repeat 50%/cover;
    padding-top: 250px;    
    color: #444;        
    &__subtitle {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__btns {
        margin-top: 30px;
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #444;
        background-color: transparent;
        border: 2px solid #444;
        padding: 14px 20px;
        margin: 0;
        font-size: 14px;
        border-radius: 6px;
        margin-top: 20px;
        transition: all 0.5s;
        text-decoration: none;
        text-transform: uppercase;        
        &:hover {
            color: #fff;
            background-color: #444;
            box-shadow: 3px 3px 20px #444;            
        }
    }    
    &__dscr {
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        margin-top: 100px;
    }     
}